<div class="row">
  <div class="span10">
    <h2>Bienvenido a Proyecto #Congreso.ar<h2>
    <h5>Navegador de sesiones del Congreso Nacional Argentino</h5>
    <br/>
    <div class="well">
      <h5>Elija una cámara</h5>
      <ul class="thumbnails">
        <% @chambers.each do |chamber| %>
          <li class="span4" style="height: 180px">
            <% if chamber.disabled %>
              <span class="thumbnail">
                <%= image_tag chamber.photo_medium, :size => "180x180" %>             
              </span>
            <% else %>
              <%= link_to pretty_chamber_path(chamber.name), :class => :thumbnail do %>
                <%= image_tag chamber.photo_medium, :size => "180x180" %> 
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>