<% content_for :nav do -%>
  <li class="active">
    <%= link_to(@chamber.name, @chamber) %>
  </li>
<% end %>

<%= image_tag @chamber.photo_medium %>

<h1>Listado de sesiones</h1>

<ul>
    <% @chamber.sessions.each do |session| %>
        <li>
          <% if session.disabled %>
            <%= session.name %>
          <% else %>
            <%= link_to(session.name,pretty_session_path(:chamber_name => session.chamber.name, :period => session.period, :meeting => session.meeting)) %>
          <% end %>
        </li>
    <% end %>
</ul>
